<form class="form-signin" action="index.php" method="POST">
    <div class="text-center mb-4">
        <img class="mb-4" src="/docs/4.5/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">
            <?=$page->title?>
        </h1>
        <p>
            <?=$page->content?>
        </p>
    </div>
    <input type="hidden" name="section" value="contact">
    <input type="hidden" name="action" value="submit">
    <div class="form-label-group">
        <input type="email" name="email" class="form-control" placeholder="Email address" required autofocus>
        <label for="inputEmail">Email address</label>
    </div>
    <div class="form-label-group">
        <textarea name="comment" class="form-control" required></textarea>
        <label for="inputPassword">Message</label>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit">Send</button>
    <p class="mt-5 mb-3 text-muted text-center">&copy; 2017-2020</p>
</form>